body {
  font-family: Lato;
  color: #333;
}

a {
  text-decoration: none;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

header {
  width: 100%;
}

main {
  padding-top: 70px;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  position: fixed;
  z-index: 1;
}

.header-inner {
  padding: 15px 0;
}

.header_logo {
  float: left;
}

.fa-bolt {
  color: #4e4e4e;
}

.header_btn {
  float: right;
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  transition: 0.3s;
}

.header_btn:hover {
  color: #333;
}

.theme {
  background-color: #f2f2f2;
  text-align: center;
}

.theme-inner {
  padding: 250px 0;
}

.theme_title {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #74cfae;
}

.theme_sub {
  font-size: 30px;
  color: #c0c0c0;
}

.section_what_we_can_do {
  background-color: #74cfae;
}

.section_what_we_can_do-inner {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  line-height: 24px;
}

.section_paragraph {
  text-align: center;
  color: #fff;
}

.section_paragraph_title {
  font-family: Raleway;
  font-size: 24px;
  margin-bottom: 35px;
}

.section_paragraph_text {
  font-size: 20px;
  width: 650px;
}

.article {
  background-color: #f2f2f2;
}

.article-inner {
  padding: 60px 0 70px;
}

.article_title {
  text-align: center;
  font-size: 24px;
  font-family: Raleway;
  margin-bottom: 40px;
}

.article_content {
  margin-bottom: 90px;
}

.article_content a {
  display: block;
  margin-left: 100px;
  margin-top: 80px;
  float: left;
  opacity: 0.7;
  transition: 0.3s;
}

.article_content a:nth-child(3n-2) {
  margin-left: 0;
}

.article_content a:nth-child(-n+3) {
  margin-top: 0;
}

.article_content a:hover {
  opacity: 1;
}

.article_content_img {
  display: inline-block;
}

.article_paragraph {
  text-align: center;
}

.article_paragraph_text {
  margin-right: 90px;
  display: inline-block;
  vertical-align: middle;
  width: 460px;
}

.article_paragraph_btn {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  display: inline-block;
  transition: .3s;
}

.article_paragraph_btn:hover {
  color: #333;
}

.section_our_skill {
  background-color: #4e4e4e;
  color: #fff;
}

.section_our_skill-inner {
  padding: 70px 0 100px;
}

.section_title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 70px;
  font-family: Raleway;
}

.section_wrapper {
  text-align: center;
}

.section_content {
  margin-left: 180px;
  display: inline-block;
}

.section_content:first-child {
  margin-left: 0;
}

.logo {
  margin-bottom: 20px;
}

.nav {
  background-color: #f2f2f2;
  text-align: center;
}

.nav-inner {
  padding: 200px 0;
}

.nav a {
  color: #74cfae;
  display: block;
  padding: 40px 0;
  transition: 0.3s;
  cursor: pointer;
  width: 185px;
}

.nav_icon {
  display: inline-block;
}

.nav a:hover {
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  text-align: right;
  padding: 20px 0 25px;
  color: #fff;
}

.heart {
  background-color: #fff;
}



/* レスポンシブ */

/* タブレット */
@media (max-width: 1199px) {
  .inner {
    width: 97%;
  }
  
  .header {
    box-sizing: border-box;
  }
  
  .section_what_we_can_do-inner {
    display: block;
    text-align: center;
    padding-bottom: 25px;
  }
  
  .section_logo {
    margin-bottom: 20px;
  }
  
  .section_paragraph_text {
    width: 100%;
    font-size: 16px;
  }
  
  .article_content a {
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .article_content a:nth-child(3n-2) {
    margin: 0 auto;
  }
  
  .article_content a:nth-child(3n+4) {
    margin-top: 80px;
  }
  
  .article_content_img {
    display: block;
    margin: 0 auto;
  }
  
  .article_paragraph_text {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  .section_content {
    display: block;
    margin: 88px auto 0;
  }
  
  .section_content:first-child {
    margin-top: 0;
  }
  
  .nav-inner {
    font-size: 0;
  }
  
  .nav_icon {
    width: 25%;
    font-size: 18px;
  }
  }
  
  /* スマートフォン */
  @media (max-width: 767px) {
    .header_btn {
      display: none;
    }
    
    .hamburger {
      float: right;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      vertical-align: middle;
    }
  
    .hamburger_menu {
      height: 3px;
      width: 26px;
      background-color: #ddd;
      border-radius: 4px;
      margin-top: 4px;
    }
  
    .hamburger_menu:first-child {
      margin-top: 0;
    }
  
    .theme-inner {
      padding: 160px 0 130px;
    }
  
    .theme_title {
      font-size: 80px;
    }
  
    .section_what_we_can_do-inner {
      padding-bottom: 20px;
    }
    
    .section_paragraph_text {
      margin: 0 auto;
    }
  
    .article_content a {
      float: none;
    }
    
    .nav-inner {
      padding: 50px 15px;
      box-sizing: border-box;
    }
  
    .nav a {
      width: 100%;
    }
  
    .nav_icon {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }