body {
  font-family: Lato;
}

a {
  text-decoration: none;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

header {
  width: 100%;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  position: fixed;
  z-index: 1;
}

.header-inner {
  padding: 15px 0 15px 0;
}

.header_logo {
  float: left;
}

.fa-bolt {
  color: #4e4e4e;
}

.header_btn {
  float: right;
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
}

.header_btn:hover {
  transition: .3s;
  color: #333;
}

.theme {
  background-color: #f2f2f2;
  text-align: center;
}

.theme-inner {
  padding: 250px 0 250px 0;
}

.theme_title {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #74cfae;
}

.theme_sub {
  font-size: 30px;
  color: #c0c0c0;
}

.section_what_we_can_do {
  background-color: #74cfae;
}

.section_what_we_can_do-inner {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  line-height: 24px;
}

.section_paragraph {
  text-align: center;
  color: #fff;
}

.section_paragraph_title {
  font-family: Raleway;
  font-size: 24px;
  margin-bottom: 35px;
}

.section_paragraph_text {
  font-size: 20px;
  width: 650px;
}

.article {
  background-color: #f2f2f2;
}

.article-inner {
  padding: 90px 0 70px 0;
}

.article_title {
  text-align: center;
  font-size: 24px;
  font-family: Raleway;
  margin-bottom: 40px;
}


.article_content a {
  display: block;
  margin-left: 100px;
  float: left;
}

.article_content a:nth-child(3n-2) {
  margin-left: 0;
}

.article_content_img {
  margin-bottom: 80px;
  opacity: 0.7;
  display: inline-block;
  transition: 0.3s;
}

.article_content_img:hover {
  opacity: 1;
}

.article_content_img:nth-child(n+4) {
  margin-bottom: 90px;
}

.article_paragraph {
  text-align: center;
}

.article_paragraph_text {
  margin-right: 90px;
  color: #c0c0c0;
  display: inline-block;
  vertical-align: middle;
  width: 460px;
}

.article_paragraph_btn {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  display: inline-block;
}

.article_paragraph_btn:hover {
  transition: .3s;
  color: #333;
}

.section_our_skill {
  background-color: #4e4e4e;
  color: #fff;
}

.section_our_skill-inner {
  padding: 70px 0 100px 0;
}

.section_title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 70px;
  font-family: Raleway;
}

.section_wrapper {
  text-align: center;
}

.section_content {
  margin-left: 180px;
  display: inline-block;
}

.section_content:first-child {
  margin-left: 0;
}

.logo {
  margin-bottom: 20px;
}

.nav {
  background-color: #f2f2f2;
  text-align: center;
}

.nav-inner {
  padding: 200px 0 200px 0;
}

.nav a {
  color: #74cfae;
  display: block;
  padding: 40px 0;
}

.nav_icon {
  display: inline-block;
  width: 185px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.nav_icon:hover {
  background-color: #fff;
  height: 112px;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  text-align: right;
  padding: 20px 0 25px 0;
  color: #fff;
}

.heart {
  background-color: #fff;
}